body {
    background: rgb(69, 230, 245);
    color: rgb(0, 1, 10);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav { border-radius: 50%;
    background: rgb(60, 174, 240);
   margin: 0 auto; margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: hsl(60, 174, 240);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li { border-radius: 25;
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #ec3333;
}

/* main container area beneath menu */
main {
    background: rgba(52, 130, 233, 0.918);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgba(78, 171, 247, 0.233) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
