body {
    background: rgb(236, 63, 252);
    color: rgb(0, 1, 10);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
#all-contents {
  max-width: 700px;
    margin: auto;
}

/* navigation menu */
nav {
    text-align: center;
    background: rgb(233, 121, 248);
   margin: 0 auto; margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
#special{
    border-style: double;
    border-color: #801d67;
}
#special{
    border-color: #801d67;
    border-style: inherit;
}
#unique{
  border-style: double;
  border-color: #801d67;
}
h1 {
    display: flex;
    text-align: center;
    color: hsl(60, 174, 240);
    flex: 2;
    margin: 2;
#special {
    border-style: unset;
    border-color: darkorchid;
 }
#special {
border-style: ridge;
border-color: #801d67;
 }
}
#nav-ul {border-radius: 25;
    list-style-image: none;
}
.nav-li { border-radius: 25;
    display: inline-block;
    padding: 25px;
}
a { font-weight:25;
    text-decoration: none;
    color: #801d67;
}

/* main container area beneath menu */
main {border-style: solid;
color: #801d67;
    display:flex
}
.sidebar {
    margin-right: 15px;
    padding: 15px;
}
.sidebar-img {
    width: 150px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 25px rgba(233, 61, 201, 0.822) ridge;
    padding: 20px;
}
h2, h3 { text-align: left;
    margin: 0px;
}
 /* portfolio styles */
 .content h1 {font-size: 190%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 3%;
    color: #000000;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
}

#portfolio a {
    text-decoration: none;
    color: #454545;
}
   /* responsive web design */
   @media screen and (min-width: 120px) and (max-width: 1080px) {
    main {
      height: 100ch;
      zoom: 1.5;
      display: grid;
    }

    h1 {
      font-size: 44px;
    }

    h2 {
      font-size: 42px;
    }

    h3 {
      font-size: 36px;
    }

    #all-contents {
      height: 100ch;
      margin: none;
    }

    a {
      font-size: 42px;
    }

    .sidebar {
      margin-right: 0px;
      justify-content: center;
      align-items: center;
    }

    .sidebar-img {
      width: 100%;
    }

    p,
    li {
      font-size: 24px;
    }

    .content {
      align-content: center;
      justify-content: center;
    }
}